# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea/*
!.idea/scopes

# gradle
build
.gradle

# other
eclipse
run
runs
*.bak

CLAUDE.local.md
settings.local.json

# Javascript and the Docs
node_modules
docs/.vitepress/cache
docs/.vitepress/dist