/* Style the divider link */
.VPSidebar a[href="#divider"] {
  pointer-events: none;
}

.VPSidebar a[href="#divider"] p {
  border-top: 1px solid var(--vp-c-divider);
  height: 0;
  margin: 16px 0 0 0;
  text-indent: -100%;
  white-space: nowrap;
}

/* Style Modrinth CTA button */
.VPHero .VPButton[href*="modrinth"] {
  background-color: #1bd96a;
  border-color: #1bd96a;
}

.VPHero .VPButton[href*="modrinth"]:hover {
  background-color: #17b85c;
  border-color: #17b85c;
}

/* Style CurseForge CTA button */
.VPHero .VPButton[href*="curseforge"] {
  background-color: #f16436;
  border-color: #f16436;
}

.VPHero .VPButton[href*="curseforge"]:hover {
  background-color: #d9552b;
  border-color: #d9552b;
}
